
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{_shared/head}"/>
<body>
<th:block th:include="~{_shared/header}"/>
<main>
    <div class="text-center mb-3">
        <h4 class="text-white mt-2">Welcome to the arena, [[${session.username}]]</h4>
    </div>

    <hr class="my-3"/>
    <div class="container">
        <th:block th:if="${session.heroName == null}">
        <div class="text-center">
            <h2>[[${session.username}]], you don't have a hero. Click below and create one.</h2>
            <a href="/heroes/create" class="btn btn-secondary">Create hero</a>
        </div>
    </th:block>
        <th:block th:unless="${session.heroName == null}">
            <th:block th:if="${heroItems.isEmpty()}">
                <div class="text-center">
                    <h2>[[${session.username}]], you have a hero. Buy items to make your hero stronger and later join the battle.</h2>
                </div>
            </th:block>
            <th:block th:unless="${heroItems.isEmpty()}">
                <div class="text-center mb-3"> </div>

                <div class="container">
                    <div class="text-center">
                        <div class="row flex-md-row">
                            <th:block th:each="opponent :${opponents}">
                                <div class="col text-center">
                                    <img th:src="@{'/img/'+${opponent.gender} + '.jpg'}" width="150", height="300">
                                    <div>
                                        <a th:href="@{'/heroes/details/' + ${opponent.name}}"  class="text-white h2">[[${opponent.name}]]</a>
                                    </div>
                                    <h2></h2>
                                    <a class="btn btn-secondary" th:href="@{'/heroes/fight/'+${opponent.name}}">Fight</a>
                                </div>
                            </th:block>
                        </div>
                    </div>

                </div>
            </th:block>
        </th:block>
    </div>
</main>
<th:block th:include="~{_shared/footer}"/>
</body>
</html>